
body {
    font-family: Arial, sans-serif;
  }
  header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
  }
  
  nav {
    background-color: #f2f2f2;
    padding: 10px;
  }
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  nav ul li {
    display: inline-block;
    margin-right: 10px;
    position: relative;
  }
  nav ul li a {
    color: #333;
    text-decoration: none;
  }
  nav ul li ul {
    display: none;
    position: absolute;
    background-color: #f2f2f2;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  nav ul li:hover ul {
    display: block;
  }
   img {
    width: 90%;
   }
  footer {
    background-color: #0a5b77;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  